<div class="whole-page_div" id="WPDiv">
  <div class="a-box" id="a-box">
    

    <div id="ngt-canvas-container">
      <ngt-canvas>
        <ngt-color attach="background" color="yellow"></ngt-color>
        <ngt-ambient-light intensity="0.5"></ngt-ambient-light>
        <ngt-spot-light
          [position]="10"
          angle="0.15"
          penumbra="1"
        ></ngt-spot-light>
        <ngt-point-light [position]="-10"></ngt-point-light>
        <!-- (ready)="this.modelReadyService($event)" -->
        <ng-container>
          <ngt-primitive
            #primitiveModel
            *ngIf="this.model$ | async as model"
            (ready)="this.modelReadyService($event); 
            this.on_bounce(this.bounce_height)
            "
            [object]="model.scene"
            [position]="[0.0, -0.5, 0]"
            [scale]="[0.7, 0.7, 0.7]"
          >
          </ngt-primitive>
        </ng-container>

        <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
      </ngt-canvas>
    </div>
  </div>

  <div class="c-box" id="c-box">C</div>
</div>
